
<script type="text/html" id="items-template">
    <h3>Items</h3>
    <ul class="nav nav-tabs" data-bind="foreach:categories">
        <li data-bind="css:{ active:$parent.cat() == $data}"><a data-bind="text:$data,attr:{href:'#items'+($data!=''?'/':'')+$data}"></a></li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach:items">
            <tr>
                <td>
                    <a data-bind="attr:{href:'#item/'+itemId},text:name"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>New item</legend>
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Name</label>
                <div class="col-md-10">
                    <input id="name" type="text" data-bind="value:newItemName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="category">Category</label>
                <div class="col-md-10">
                    <input id="category" type="text" data-bind="value:newItemCategory" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="merchantCost">Merchant cost (pc)</label>
                <div class="col-md-10">
                    <input id="merchantCost" type="text" data-bind="value:newItemMerchantCost" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="vocationBadge">Vocation badge cost</label>
                <div class="col-md-10">
                    <input id="vocationBadge" type="text" data-bind="value:newItemVocationBadgesCost" />
                </div>
            </div>
            <p>All prices are in copper: For 1g8s30c write 10830. Set prices to 0 if not buyable.</p>
            <button data-bind="click:create">Create</button>
        </fieldset>
    </form>
</script>

<script type="text/html" id="recipe-template">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-md-2 control-label" for="merchantCost">profession</label>
            <div class="col-md-10">
                <select data-bind="options:$parent.professions, optionsText:'name',value:profession,optionsCaption:'Choose a profession...'"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Labor cost:</label>
            <div class="col-md-10">
                <input data-bind="value:laborCost" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Production</label>
            <div class="col-md-10">
                <input data-bind="value:production" />
            </div>
        </div>
        <div data-bind="if:id()!=0">
            <h5>Ingredients</h5>
            <ul data-bind="foreach:ingredients">
                <li>
                    <dl>
                        <dt data-bind="text:name"></dt>
                        <dd>Quantity: <span data-bind="text:count"></span></dd>
                        <dd><button data-bind="click:$parent.removeIngredient" class="btn btn-default">Remove</button></dd>
                    </dl>
                </li>
            </ul>
            <fieldset>
                <legend>Add ingredient</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">Ingredient</label>
                    <div class="col-md-10">
                        <input data-bind="autoComplete:newIngredient,onRequest:onRequestIngredients" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Quantity</label>
                    <div class="col-md-10">
                        <input type="number" data-bind="value:newIngredientCount" />
                    </div>
                </div>
                <button data-bind="click:addIngredient" class="btn btn-default">Add</button>
            </fieldset>
        </div>
        <div data-bind="if:id()!=0">
            <button data-bind="click:$parent.removeCraft" class="btn btn-default">Delete recipe</button>
        </div>

    </form>
    <hr />
</script>

<script type="text/html" id="item-template">
    <h3>Item</h3>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input data-bind="value:name" id="name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Merchant cost (pc)</label>
            <div class="col-md-10">
                <input type="text" data-bind="value:merchantCost" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Vocation badge cost</label>
            <div class="col-md-10">
                <input type="text" data-bind="value:vocationBadgeCost" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Category</label>
            <div class="col-md-10">
                <input type="text" data-bind="value:category" />
            </div>
        </div>
        <p>All prices are in copper: For 1g8s30c write 10830. Set prices to 0 if not buyable.</p>
    </form>
    <p>
        <button data-bind="click:update" class="btn btn-default">Update</button>
        <button data-bind="click:remove" class="btn btn-default">Delete item</button>
    </p>
    <hr />
    <h3>Recipes</h3>
    <div data-bind="template: {foreach:crafts, name:'recipe-template'}">

    </div>
    <div data-bind="if:newRecipe">
        <span>Test</span>
        <div data-bind="template: {data:createRecipeVM, name:'recipe-template'}"></div>
        <button data-bind="click:newRecipe" class="btn btn-default">Add new recipe</button>
    </div>
    <hr />
    <h3>Auction prices</h3>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Prix</label>
            <div class="col-md-10">
                <input type="number" data-bind="value:newAuctionPrice" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Comment</label>
            <div class="col-md-10">
                <textarea data-bind="value:newAuctionComment"></textarea>
            </div>
        </div>
        <p><button data-bind="click:addAuctionPrice" class="btn btn-default">Add new price</button></p>
    </form>
    <div id="chart" data-bind="chart:auctionPrices"></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Price

                </th>
                <th>
                    User
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach:auctionPrices">
            <tr>
                <td data-bind="text:date"></td>
                <td data-bind="text:value"></td>
                <td data-bind="text:userName"></td>
                <td data-bind="text:comment"></td>
                <td><button data-bind="click:$parent.removeAuctionPrice" class="btn btn-default">Delete</button></td>
            </tr>
        </tbody>
    </table>
</script>
