
<script type="text/html" id="items-template">
    <h3>Items</h3>
    <ul data-bind="foreach:items">
        <li>
            <a data-bind="attr:{href:'#items/'+itemId},text:name"></a>
        </li>
    </ul>
    <fieldset>
        <legend>New item</legend>
        <label>Name</label>
        <input type="text" data-bind="value:newItemName" />
        <label>Merchant cost (pc)</label>
        <input type="text" data-bind="value:newItemMerchantCost" />
        <label>Vocation badge cost</label>
        <input type="text" data-bind="value:newItemVocationBadgesCost" />
        <p>All prices are in copper: For 1g8s30c write 10830. Set prices to 0 if not buyable.</p>
        <button data-bind="click:create">Create</button>
    </fieldset>
</script>
<script type="text/html" id="item-template">
    <h3>Item</h3>
    <label for="name">Name</label>
    <input data-bind="value:name" id="name" type="text" />
    <label>Merchant cost (pc)</label>
    <input type="text" data-bind="value:merchantCost" />
    <label>Vocation badge cost</label>
    <input type="text" data-bind="value:vocationBadgeCost" />
    <p>All prices are in copper: For 1g8s30c write 10830. Set prices to 0 if not buyable.</p>
    <button data-bind="click:update">Update</button>
    <button data-bind="click:remove">Delete item</button>
    <hr />
    <h3>Recipes</h3>
    <div data-bind="foreach:crafts">
        <select data-bind="options:$parent.professions"></select>
        <label>Labor cost:</label>
        <input data-bind="value:laborCost" />
        <label>Production</label>
        <input data-bind="value:production"/>
        <h5>Ingredients</h5>
        <ul data-bind="foreach:ingredients">
            <li>
                <dl>
                    <dt data-bind="text:name"></dt>
                    <dd>Quantity: <span data-bind="text:count"></span></dd>
                    <dd><button data-bind="click:$parent.removeIngredient">Remove</button></dd>
                </dl>
            </li>
        </ul>
        <fieldset>
            <legend>Add ingredient</legend>
            <label>Ingredient</label>
            <select data-bind="options:items,value:newIngredient"></select>
            <label>Quantity</label>
            <input type="number" data-bind="value:newIngredientCount"/>
            <button data-bind="click:addIngredient">Add</button>
        </fieldset>
        <a data-bind="click:$parent.removeCraft">Delete recipe</a>
        <hr />
    </div>
    <button data-bind="click:newRecipe">Add new recipe</button>
</script>
